## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,92.80,58,70,7.02,broken clouds
1,1,Norman Wells,CA,65.2820,-126.8329,62.64,77,75,4.61,broken clouds
2,2,Clyde River,CA,70.4692,-68.5914,41.23,93,75,17.27,broken clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,37.06,93,75,12.66,drizzle
4,4,Praya,CV,14.9215,-23.5087,84.74,54,20,13.80,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Praya,CV,14.9215,-23.5087,84.74,54,20,13.80,few clouds
6,6,Urumqi,CN,43.8010,87.6005,74.35,41,0,2.24,clear sky
7,7,Lagoa,PT,39.0500,-27.9833,73.71,79,81,1.74,broken clouds
10,10,Fomboni,KM,-12.2800,43.7425,77.52,75,0,11.95,clear sky
12,12,Rikitea,PF,-23.1203,-134.9692,74.08,78,0,7.09,clear sky
13,13,Pacific Grove,US,36.6177,-121.9166,86.81,82,1,5.99,clear sky
17,17,Chute-Aux-Outardes,CA,49.1168,-68.3990,88.11,69,1,16.11,clear sky
18,18,Jamestown,US,42.0970,-79.2353,83.52,85,40,3.00,light rain
19,19,Carballo,ES,43.2130,-8.6910,80.76,92,18,4.99,few clouds
23,23,Magole,TZ,-6.3667,37.3667,72.88,64,36,5.61,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df[preferred_cities_df['City'] == ''].index

Int64Index([], dtype='int64')

In [6]:
# 4a. Determine if there are any empty rows.
import numpy as np
np.where(pd.isnull(preferred_cities_df))

(array([], dtype=int64), array([], dtype=int64))

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Praya,CV,14.9215,-23.5087,84.74,54,20,13.80,few clouds
6,6,Urumqi,CN,43.8010,87.6005,74.35,41,0,2.24,clear sky
7,7,Lagoa,PT,39.0500,-27.9833,73.71,79,81,1.74,broken clouds
10,10,Fomboni,KM,-12.2800,43.7425,77.52,75,0,11.95,clear sky
12,12,Rikitea,PF,-23.1203,-134.9692,74.08,78,0,7.09,clear sky
13,13,Pacific Grove,US,36.6177,-121.9166,86.81,82,1,5.99,clear sky
17,17,Chute-Aux-Outardes,CA,49.1168,-68.3990,88.11,69,1,16.11,clear sky
18,18,Jamestown,US,42.0970,-79.2353,83.52,85,40,3.00,light rain
19,19,Carballo,ES,43.2130,-8.6910,80.76,92,18,4.99,few clouds
23,23,Magole,TZ,-6.3667,37.3667,72.88,64,36,5.61,scattered clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
4,Praya,CV,84.74,few clouds,14.9215,-23.5087
6,Urumqi,CN,74.35,clear sky,43.8010,87.6005
7,Lagoa,PT,73.71,broken clouds,39.0500,-27.9833
10,Fomboni,KM,77.52,clear sky,-12.2800,43.7425
12,Rikitea,PF,74.08,clear sky,-23.1203,-134.9692
13,Pacific Grove,US,86.81,clear sky,36.6177,-121.9166
17,Chute-Aux-Outardes,CA,88.11,clear sky,49.1168,-68.3990
18,Jamestown,US,83.52,light rain,42.0970,-79.2353
19,Carballo,ES,80.76,few clouds,43.2130,-8.6910
23,Magole,TZ,72.88,scattered clouds,-6.3667,37.3667

In [9]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Praya,CV,84.74,few clouds,14.9215,-23.5087,
6,Urumqi,CN,74.35,clear sky,43.8010,87.6005,
7,Lagoa,PT,73.71,broken clouds,39.0500,-27.9833,
10,Fomboni,KM,77.52,clear sky,-12.2800,43.7425,
12,Rikitea,PF,74.08,clear sky,-23.1203,-134.9692,
13,Pacific Grove,US,86.81,clear sky,36.6177,-121.9166,
17,Chute-Aux-Outardes,CA,88.11,clear sky,49.1168,-68.3990,
18,Jamestown,US,83.52,light rain,42.0970,-79.2353,
19,Carballo,ES,80.76,few clouds,43.2130,-8.6910,
23,Magole,TZ,72.88,scattered clouds,-6.3667,37.3667,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
missing = hotel_df.dropna(how = "any")

missing.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Praya,CV,84.74,few clouds,14.9215,-23.5087,LT Aparthotel
6,Urumqi,CN,74.35,clear sky,43.8010,87.6005,Hua Ling Grand Hotel Urumqi
7,Lagoa,PT,73.71,broken clouds,39.0500,-27.9833,Casa Das Faias
10,Fomboni,KM,77.52,clear sky,-12.2800,43.7425,Auberge les abou
12,Rikitea,PF,74.08,clear sky,-23.1203,-134.9692,People ThankYou
13,Pacific Grove,US,86.81,clear sky,36.6177,-121.9166,Lovers Point Inn
17,Chute-Aux-Outardes,CA,88.11,clear sky,49.1168,-68.3990,Camp St-Paul Gite Plein-Air
18,Jamestown,US,83.52,light rain,42.0970,-79.2353,Hampton Inn & Suites Jamestown
19,Carballo,ES,80.76,few clouds,43.2130,-8.6910,Pazo do Souto
23,Magole,TZ,72.88,scattered clouds,-6.3667,37.3667,Juma lubelwa

In [12]:
# 7. Drop the rows where there is no Hotel Name.
#clean_hotel_df = hotel_df.dropna()
#clean_hotel_df.head(10)
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Praya,CV,84.74,few clouds,14.9215,-23.5087,LT Aparthotel
6,Urumqi,CN,74.35,clear sky,43.8010,87.6005,Hua Ling Grand Hotel Urumqi
7,Lagoa,PT,73.71,broken clouds,39.0500,-27.9833,Casa Das Faias
10,Fomboni,KM,77.52,clear sky,-12.2800,43.7425,Auberge les abou
12,Rikitea,PF,74.08,clear sky,-23.1203,-134.9692,People ThankYou
13,Pacific Grove,US,86.81,clear sky,36.6177,-121.9166,Lovers Point Inn
17,Chute-Aux-Outardes,CA,88.11,clear sky,49.1168,-68.3990,Camp St-Paul Gite Plein-Air
18,Jamestown,US,83.52,light rain,42.0970,-79.2353,Hampton Inn & Suites Jamestown
19,Carballo,ES,80.76,few clouds,43.2130,-8.6910,Pazo do Souto
23,Magole,TZ,72.88,scattered clouds,-6.3667,37.3667,Juma lubelwa

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# Call the figure to plot the data.
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))